.DS_Store

# Frontend
frontend/node_modules
frontend/dist
frontend/yarn.lock
frontend/.eslintrc*

# Backend
backend/main
backend/bingo

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend Go files
backend/main
backend/bingo-backend

# Database
data/*.json
frontend/yarn.lock
